.copyright{
	position: inline-block;
    text-align: center;
    font-size: 10pt;
}

.social img{
    max-width: 1.5rem;
}

ul{
    margin: auto 0;
    text-align: center;
}

.social-list-style{
    margin: 1rem 1.5rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: inline-block;
}