.copyright{
	position:absolute;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;	
}


.social li a,
.social li a:link
.social li a:visited{
	display:inline-block;	
	float: right;
	width: 40px;
	height: 40px;
	margin-right: 1rem;
	text-align: center;
	padding: 0.8125rem;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;

	color: #fff;
	/*background-color: #222;*/
	
	-webkit-box-shadow: inset 0px 0px 0px 40px #222;
	-moz-box-shadow: inset 0px 0px 0px 40px #222;
	-ms-box-shadow: inset 0px 0px 0px 40px #222;
	-o-box-shadow: inset 0px 0px 0px 40px #222;
	box-shadow: inset 0px 0px 0px 40px #222;
}

.social li a:hover,
.social li a:focus,
.socail li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #222;
	-moz-box-shadow: inset 0px 0px 0px 3px #222;
	-ms-box-shadow: inset 0px 0px 0px 3px #222;
	-o-box-shadow: inset 0px 0px 0px 3px #222;
	box-shadow: inset 0px 0px 0px 3px #222;
	color:#222;

}