# User Testing Report

User testing was conducted by {Michelle Dugas} on {March 28, 2014} between the times of {2:30pm} and {end time} with the following participants:

- {Jake Asiddao}
- {Elzahra }
- {Alissa Dicaire}

## Tasks

1. {Check out}
2. {Add item to cart}
3. {Find a product}

---

## Individual Results & Observations

### {Jake Asiddao}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {Links were not connected. He couldn't complete the task}

### {Elzahra}

- {She clicked on the link as expected…}
- {SHe had troubles completing a specific task…}
- {Links were not connected. He couldn't complete the task}

### {Alissa Dicaire}

- {She clicked on the link as expected on the product link…}
- {He had troubles completing a specific task…}
- {Products page was not linked. Did not work}
- {She couldn't complete the task}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had problems viewing items. None of the links were working. They were all broken or not connected}

### Serious, Causes Frustration, May Hinder Completion

- {All failed}

### Minor, Annoying, Won’t Hinder Completion

- {All couldn't view product page. link is broken and needs to be fixed.}