#cart {
	position: fixed;
	z-index: 99;
	right: 0;
	padding: 0;
    width: 100%;
    margin: auto;
}

.row {
    width: 98%;
    max-width: 1600px;
    margin: auto;
}

.small-row{
    max-width: 10px;

}

.text-center{
    text-align: center;
}

.float{
    float: right;
}