<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Vintage Cameras</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/embeded.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
    
</head>
<body>

<header>
		<a href="#nav" class="nav-btn hide-text">Navigation</a>
		<nav class="nav nav-top" data-state="collapsed">
				<a class="{%if page.url == '/' %}current{% enidif %}"href="{{site.baseurl}}index.html" class="spacing">home</a>
				<a class="{%if page.url contains 'camera' %}"href="cameras.html" class="spacing">Cameras</a>
				<a class="{%if page.url == 'about' %}current{% enidif %}""href="about.html" class="spacing">About</a>
				<a class="{%if page.url == 'cart' %}current{% enidif %}""href="your-cart.html" class="spacing">Your Cart</a>
		</nav>
		
		<nav class="nav-ls">
				<a href="index.html" class="spacing">home</a>
				<a href="cameras.html" class="spacing">Cameras</a>
				<a href="about.html" class="spacing">About</a>
				<a href="your-cart.html" class="spacing">Your Cart</a>
		</nav>
    
        <div class="light">
        <form>
            <span><input type="text" class="search rounded" placeholder="Search..."></span>
        </form>
        </div>
                
		<div class="name">
			<h1>Cameras</h1>
			<p>All Vintage</p>
		</div>
</header>
    {% if page.showbanner %}
    <div class="banner">
        <h2>{{page.banner.text}}</h2>
    </div>
    {% endif}
{{content}}
    
<footer>
		<nav class="nav-footer">
			<a href="index.html" class="spacing">home</a>
			<a href="cameras.html" class="spacing">cameras</a>
			<a href="abouthtml" class="spacing">about</a>
			<a href="your-cart.html" class="spacing">your cart</a>
		</nav>

		<section>
			<ul class="social list-group">
				<li class="list-group-item">
					<a class="ease-all" href="https://www.facebook.com/CitizenAdvocacy">
						<i class="fa fa-facebook"></i>
						<span class="hide-text">Facebook</span>
					</a>
				</li>
				<li class="list-group-item">
					<a class="ease-all" href="https://twitter.com/CitizenAdvocac1">
						<i class="fa fa-twitter"></i>
						<span class="hide-text">Twitter</span>
					</a>
				</li>
			</ul>
		</section>
		<p class="copyright">Copyright © 2013</p>

	<script src="js/nav.js"></script>
</footer>
</body>
</html>