/*
  Colour Palette
  - Peach: #FF655C - rgb(255,101,92)
  - Dark Red: #540D01 - rgb(84, 13, 1)
  - Burgendy: #4A0102 - rgb(74, 1, 2)
  - Dark Brown: #3D1302 - rgb(61, 19, 2)
 */

html {
  font: normal 100%/1.5 Helvetica,sans-serif; /* 16px/24px */
}

.yotta {
    font-size: 1.0000rem;
}

.zetta{
    font-size: 1.0000rem;
}

h1 .exa{
    font-size: 1.0000rem;
}

h2 .peta {
    font-size: 1.0000rem;
}

h3, .tera {
    font-size: 1.0000rem;
}

h4, .giga {
    font-size: 1.0000rem; 
}

h5, .mega {
    font-size: 1.0000rem;   
}

h6, .kilo {
    font-size: 1.0000rem;    
}

small, .milli {
    
}

.micro {
    
}